/* reffer to dark background **/

.d-bg {
    background-color: #495057/*#7d7772/*#324765;/* #7d7772/*#7d7272*/;
    
}


/* reffer to dark background **/
.w-bg {
    
   background-color: white;
}


/* reffer to dark background **/
.l-bg {
    
    background-color: #fafafa/*#f9f9f9/*#f9fcff/*#fffdfb /*#fffbfb*/;
}


.fc {
    
    color: #dacbbe;/*#634934/*#7d7272/*#7d7772/*#7d7272;*/
    
}


.g-bg {
    background-color: lightgreen;
}











/********* scale color******/



.red {
    
  background-color: #FF5722;
}


.yello {
    background-color: #FFC107;
    
}

.green {
    background-color: #8BC34A;
    
}

