
/************* OLD 
.cal-shadow {box-shadow: 0px 0px 1px #b1b9d673 !important; }
*************/
.cal-shadow {
    box-shadow: 0px 0px 2px #a3afdc82;
}


.cal-shadow:hover {box-shadow: 0px 2px 0.5rem #a7afcc61 !important;}

.class { min-height: 360px; width: 100%;background: white;}

.column {
    padding: 0 !important;
}


.cornjob__warrp {
    position: relative;
    height: 100% !important;
    overflow: hidden;
    padding-left: 250px;
}

/***** OLD
.left__side {
    position: absolute;
    top: -60;
    left: -50;
    height: 110%;
    width: 250px;
    box-shadow: 0px 0px 1px #c3c3c373 !important;background: #f9f9f9;
}
***/
.left__side {
    position: fixed;
    top: 68px;
    left: 0;
    height: 100%;
    width: 250px;
    /*box-shadow: 1px 1px 20px #b7c3d859;*/
    box-shadow: 1px 1px 5px #b1c3e242;
}
























/********* Start column header***********/


.col__head__content {
    font-weight: bold;
    color: #444444a6;
    padding: 0px 8px;
    font-size: 25px;

}

.col__head__number {
    font-size: 60px;
    color: #78bff7;
    padding: 0 10px;
    font-weight:  lighter;

}

.col__head__name {
    display: contents;
    font-weight: bold;

}
/********* End column header***********/








/****************************************/










/***********************************/
.task__conten {

    margin-left: 5px; 
}

.task {

    padding: 10px;
    color: #887f7a;
    display: initial;
    line-height: 46px;

}
.task:hover {
    color: #33312f;
}



.easy {
    background: /*#a8e6a880*/#a8e6a833;
    border-right: 2px solid #2ad82a96;
    border-left: 2px solid #2ad82a96;
}

.hard {
    background: /*#fdc0c0*/#fdc0c038;
    border-right: 2px solid #d64747bd;
    border-left: 2px solid #d64747bd;
}

.meduim {
    border-right: 2px solid #ffd83dba;
    border-left: 2px solid #ffd83dba;
    background: /*#ffd83d2b*/#d2ab130d;
}

/****************************************************/




/********************************************/
.cal-shadow .add__task {display: none;}
.cal-shadow:hover .add__task {display: initial;}





























        
     
/************************************
******   calender header  ***********
************************************/  
        
.cal__header {
    box-shadow: rgba(202, 201, 201, 0.65) 0px 0px 4px;
    background: #f5fbff;
    margin-bottom: 17px !important;
}
        
        
        .week__name{
            flex: 0 0 auto ;
            text-align: right;
            font-size: 30px;
            color: rgb(138, 137, 137);
            margin: 20px 15px;
            font-weight: bold;
        } 
        
        .cicon {
            padding: 12px 0px 10px 15px;
            font-size: 40px;
            color: rgb(120, 191, 247);
        }
        
        .week_nav {
            height: auto;
            background: white;
            display: inline-table;
            font-size: 20px;
            color: #4baaf5;
            padding: 10px;
            margin: 30px auto;
        }
        
        .week_date {
                font-size: 20px;
                color: rgb(122, 133, 133);
                display: block;
                text-align: center;
                padding: 38px 10px;
        }
        
        
        .date__after {
            color: rgb(75, 170, 245);
            padding: 10px;
            font-size: 23px;
        }








  
    


