.fw-b {
    
    font-weight: bold;
}

.fw-l {
    
    font-weight: bold;
}


.fs25 {
   /* font-size: 25px; */  
}
          


/*** reffer to Icon Size ****/
.is {
 font-size: 17px;    
}


/*** reffer to Icon Size ****/
.is {
    font-size: ;
    
}