a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
    color: #ffffff !important;
    background-color: transparent !important;
}




































.nav {
              /* box-shadow: -9px -4px 10px #000000f7;*/
    background: #4baaf5;
     }

.button {
        display: block;
        background: #ebedf1ad;
        padding: 10px 30;
        margin: 11px 0;
        /*border-radius: '10px';*/
        border: none;
}      


.button i {
        font-weight: bold;
        font-size: 23px;
        padding: 0px 5px;
        color: #5c5471a6;
}   

.button span {
        color: #5c5471a6;
        font-weight: bold;
        padding: 5px 0px;
}   









.hicon {
font-size: 20px;
    color: white;
}


.hicon:hover {
    font-weight: bold;
}


