.w100 {
    
    width: 100%;
}

.h100 {
  height: 100vh;
}


.h90 {
    
    height: 91.4vh;
}


/*********  for position helper *****/

.pr {
    position: relative !important;
}

.pa {
    position: absolute;
}

.t0 {
   top: 0; 
}


.l0 {
   
   left: 0;
}

.r0 {
   right: 0; 
    
}


.b0 {
    
   bottom: 0; 
    
}

/********* end for position helper *****/
 













/** reffer to border-riduce ***/
.br50 {
  border-radius: 50%;
}  




.m15 {
  margin: 15px;  
}



.p12{
   padding: 12px 10px; 
}

.h5 {
    height: 5px;
}

.w5 {
    width: 5px;
}



.bs {
   box-shadow: 0 .1rem 0.5rem rgba(0,0,0,.08)!important;
}
























.hcard {
    height: 100px;
    width: 100%;
    background-color: white;
}
