/***********  this is rest for input  *************/
input:focus {
        box-shadow: none !important;
        border-bottom: 2px solid sandybrown !important;
        outline-offset: 0;
        outline-color: transparent;
        color: #383634 !important;
}



/***********  this is for text input  *************/
.text__input {
    border: none;
    color: #4a4b4c;
    background: #f9f9f9;
    background-clip: padding-box;
    border-bottom: 2px solid #8e8d8e !important;
    display: block;
    width: 500px;
    height: 60px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f3f3f3;
    margin: 100;
    transition: 0.3s;
    outline-color: transparent;
}



/***********  this is for text input  *************/
.select__input {
    border: none;
    color: #4a4b4c;
    background: #f9f9f9;
    background-clip: padding-box;
    border-bottom: 2px solid #8e8d8e !important;
    display: block;
    width: 500px;
    height: 60px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f3f3f3;
    margin: 100;
    transition: 0.3s;
    outline-color: transparent;
}














