
.input__lable {
               flex: none;
               width: 100%;
               padding: 20 0 0;
               font-size: 20;
               color: #5c5471a6 !important;
}





 .student__contaner {
        
background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px #958fa247;
    margin: 5px;
    display: inline-flex; 
    }       
   
 .student__img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
        }   
 .student__name {
    font-size: 18px;
    text-align: center;
    width: auto;
    padding: 5px 3px;
    color: #8b8794; 
        } 
 .student__del {
        padding: 0px 5;display: inline-flex;color: #ff9b00;
        }    
 .student__del:hover {
        color: orange;
        }     














.m__p__btn {   font-size: 22;
    height: 48;
    flex: none;
    width: 50;
    text-align: center;
    color: #ff9b00;
    font-weight: bold;
    border-radius: 10px;
    background: #f3f0f533;
    box-shadow: 0px 1px 6px 2px #ede7f3;}

.m__p__btn i { padding: 12 0;text-align: center; }

    
  .day__num {
    flex: none;
    }  
  .day__num input {
    width: 100px;height: 51;background-color: white;padding: 10;font-size: 25px;border: 2px solid #8490a60f;color: #888f9c;text-align: center;
    }      
    
    
.day__lab {
    font-size: 20;font-weight: bold;color: #888f9ceb;padding: 4px 15px !important;width: auto;flex: none;border: 2px solid #8490a60f;
    
    }
    






















.block {
    height: auto;
    min-height: 200px;
    margin-bottom: 50px !important;
    background: white;
    box-shadow: -1px 3px 4px #8490a624;
    border-radius: 10px;
}


.block .block__tittle {
    padding: 20;
    box-shadow: -2px 2px 1px 0px #f0f0f1;
    border-radius: 10px;
    font-size: 20;
}


.block .block__tittle h5 {
    margin-bottom: 0em;
    font-size: 1em;
    color: /*#958fa2*/#817894 !important ;
}




.wppoint_contaner .block__child__tittle {
    padding: 20;
}
.wppoint_contaner .block__child__tittle h6 {
    padding: 10 20;
    color: #ff9b00 !important;
    margin-bottom: 0;
}
  
  