.pwindow {
    position: relative;
    background-color: #ffffff;
    width: 500px;
    margin: 100 19% auto;
    border-radius: 10px;
    height: auto;
    min-height: 400px;
    
}


.pmodal {
    position: fixed;
    top: 69px;
    right: 200;
    bottom: 0;
    display: block;
    z-index: 9999;
    background: #acaab169;
    height: 100%;
    width: 100%;
}



