/************************************************************
*******        for placeholder color          **************
*************************************************************/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  rgb(220, 219, 219);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:  rgb(220, 219, 219);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(220, 219, 219);
}







/************************************************************
*******      for matrial ui datepacker color   **************
*************************************************************/

.MuiPickersToolbarText-toolbarBtnSelected {
    color: white !important;
}

.MuiPickersDay-daySelected {
    color: white !important;
}

.MuiPickersToolbarText-toolbarTxt {
    color: rgb(255, 255, 255) !important;
}











/*
.MuiIconButton-colorPrimary {
    color: #ffffff !important;
}

.MuiIconButton-root {
    padding: 14px !important;
    margin: 6px 15px !important;
}



.MuiIconButton-colorPrimary:hover {
    background-color: rgba(24, 70, 34, 0.08)!important;
}



*/







/************************************************************
**************      for scrollbar style        **************
*************************************************************/
.scroll {
    overflow-x: auto;   
}

main.scroll {overflow: auto;  overflow-x: auto;  }     
       
div  .scroll {
    overflow: auto;
    overflow-x: auto;  
}    
      
.scroll:hover ::-webkit-scrollbar-thumb {
    background: #0000005e !important;
}  


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    
    margin: 10px 10px !important;

}


/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    margin: 10px 10px !important;
    padding: 10px !important;
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(122, 119, 119, 0.288);
    border-radius: 10px;
    margin: 10px 10px !important;
    padding: 10px !important;
 /* display: none;*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: /*#3a3c41*/rgba(122, 119, 119, 0.288); 
   /* display: block;
    width: 20px !important;
    height: 20px  !important;*/
    
}














ul {list-style-type: none;}



html {overflow-y: hidden;}


/*
*{ padding: 0px;margin: 0px; box-sizing: border-box;font-family: 'Tajawal', sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;  }
      
*/

span ,h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p ,input ,label, div, a,li ,ul, button {
    font-family: 'Tajawal', sans-serif !important;
    
}
        

   
        