
.nav_list {
    list-style-type: none !important;
    display: flex;
    padding-bottom: 40px;
    padding-right: 15px;
}

.nav_list .floatr {
 float: right;
 margin-top: 0px;
 padding-left: 7px;
}

.nav_list h4 {
    margin: 0;
   /* padding-bottom: 40px;
    padding-right: 15px;*/
    color: #7e8088 !important;
    font-weight: 400;

}


.nav_list a {
    margin: 0;
    color: #ff9b00 !important;
    font-weight: 400;
    font-size: 20px;
}


.voite__star {
    font-size: 20;
    color: #ff9b00;
    border-radius: 50%;
    font-weight: bold;
}

.mute__star {
    color: #c7c7c7;
}

