
        
.side__nav {overflow: hidden !important;} 
.side__nav:hover {overflow: auto;}  


.side__nav {
    width: /*210px*/75px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: 0px 0px 3px #9494944f;
    /*background: #eaeaea75;*/
    border-top-left-radius: 10px;
}






.logo {
        opacity: 0.5;
    display: none;
}


.logo:hover {
        opacity: 1;
}











.side__nav .nav_group_tittle {
    color: #63605d !important;
    padding: 20px 20px 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    display: none;

}


.side__nav .side__nav__itm {color: #655454ab ;font-size: 16px;padding:14px 8px;display: block;border-radius: 30px;margin: 5px;}
.side__nav .side__nav__itm i {
    font-size: 28px;
    padding: 0 5px;
    
    color: #4baaf5;
   }

.side__nav .side__nav__itm span {    display: none;
}






.side__nav .side__nav__itm:hover { background: #4baaf526;}       
.side__nav .side__nav__itm:hover i {font-weight: bold;}        
   







/* for sidenav responsive */
@media screen and (min-width: 769px), print {




}



