.icon {
    font-size: 25px;
    padding: 16px;
    display: inline-table;
    /*font-weight: bold;*/
}

.icon:hover {
    color: /*rgb(255, 155, 0) !important*/rgb(255, 155, 0) !important;
}



.table__header {
    padding: 10px !important;
    font-size: 20px;
    color: rgb(255, 155, 0) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*.table__body {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}*/

.table__footer {
    padding: 10px !important;
    font-size: 20px;
    background: #ffffff;
    color: rgb(255, 155, 0) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
   }






























.p5 {
    padding: 5px !important;
}











.table__row {
    margin: 0 !important;
    box-shadow: 0px 1px 1px 1px #96a1b545;
    background: white;

}






.table-body-row {
    box-shadow: 0px 0.5px 1px 1px #c5c5c53b;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: /*#7d7d7d !important*/  #9c9c9c !important;
    border-radius: 10px;
}
.table-body-row:hover {
    box-shadow: 0px 2px 0.5rem #c5c5c5b8;
    color: #3d3939 !important;
}














ul {
    margin: 0 !important;
}



.id {
    padding: 14px 0 !important;
    font-size: 20px;
}
.name {
    font-size: 18px;
    padding: 16px 0px !important;
}

.table__row> .col__id {

    flex: none;
    width: 10%;
    text-align: center;
    /*border: 1px solid rgba(220, 218, 218, 0.52);*/
  


}

.table__row> .col__name {

    flex: none;
    width: 35%;
    text-align: right;

}

.table__row> .col__group {
    flex: none;
    width: 30%;
    text-align: right;


}

.table__row> .col__group ul {
    display: flex;
    /*padding: 10px;border-top: 0.5px solid #fff1fd;*/
    margin:  0 !important;

}

.table__row> .col__group ul li {
    margin-top:  0.25em !important;
    float: right;
    padding: 0 3px;
    display: block;
}

.table__row> .col__group ul li div{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: inline-block;
    padding: 7 5;
    text-align: center;

}


.fc {
    background: #8cbb7924;
    color: #8cbb79;
}


.tc {
    background: #ff00b117;
    color: #c55151;
}

.trc {
    background: #7990bb2e;
    color: #7990bb;
}

.forc {
    background: #ff9b001c;
    color: #ff9b00;
}



.table__row> .col-p {
    padding: 7px 4px;
}



.table__row> .bottoms__row {
    flex: none;
    width: 25%;
    text-align: right;
 

}
















.table__footer>.column.plan__number {
    flex: none;
    width: 35%;
    text-align: right;
    padding: 8px 12px;

}

.table__footer>.column.plan__pagnate {
    flex: none;
    width: 65%;
    text-align: right;
    padding-left: 15;
}

.plan__pagnate>  ul {
 
    float: left;
    
}

.plan__pagnate  ul> li {
 
    display: table-cell;
    
}


.plan__pagnate  ul li> a {

    border-radius: 50%;
    color: #ff9b00 !important;
    border: 1px solid;
    height: 44px;
    width: 44px;
    display: block;
    text-align: center;
    padding: 9;
    margin: 0 5px;
    font-size: medium;
}


.plan__pagnate  ul li> a:hover {
    color: #ffffff !important;
    background-color: #ff9b00 !important;
}

.plan__pagnate  ul li> .active {
    color: #ffffff !important;
    background-color: #ff9b00 !important;
}







/* for table responsive */
@media screen and (min-width: 769px), print {




}