.modal-window {
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    /*padding: 20px;*/
    height: 100vh;
}

.modal {
    position: fixed;
    top: 69px;
    right: 200;
    bottom: 0;
    display: none;
    z-index: 9999;
}


.close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.3);
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}


.back {
    padding: 18px 18px;
    font-size: 30;
    color: #5d677b;
    float: right;
    border-left: 1px solid #e8e8e8;
}
.back:hover {
    background: #6c7a9424;
}


.save {
    font-size: 25px;
    padding: 12 15;
    color: #0dad43;
    margin: 8 20;
    border: none;
    background: #ffffff;
}

.delet {
    font-size: 25px;
    padding: 12 15;
    color: #d03030;
    margin: 8 20;
    border: none;
    background: #ffffff;

}


