.student__avatar {

    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: 0.7;

}

.student__avatar:hover {
    opacity: 1;
}













.level {
    flex: none;width: 100%;margin-bottom: 30;color: #958fa2 !important;
}


.level__chek  {
    font-weight: 600;
    width: 70px;
    flex: none;
    height: 70px;
    border-radius: 50%;
    padding: 20px 0 !important;
    color: white;
    margin: 10px 0 10 40;
    text-align: center;    
}





.esy__level {
      background: #95bf66e0;
}

.mudm__level {
      background: #f1cf6b;
}

.hard__level {
      background: #e07272;
}


.level__chek:hover {
        box-shadow: 1px 2px 10px #a0a1a2de;
}





/**********************************/
/*****for goals in side modal *****/
/************************************/
.goals__item {
    color: #958fa2 !important;
    padding: 5px 20px;
    margin: 0 !important;
    line-height: 1.8 !important;
}

.goals__item:hover {
    color: #53565d !important;
}

.goals__item:hover i {
    color: #f99d0f !important;
}




/*******************************
********************************
** start text editor style
**
********************************
*******************************/
.te__header {
    margin: 0 !important;
    box-shadow: 1px 1px 7px #b1b1b142;
    border-bottom: 1px solid #cccdd01c;  
    /*background: /*#6c7a94#92918f;*/
}
.te__header .icon__button {
    height: 50px;
    text-align: center;
    padding: 18px 0px !important;
    font-size: 20;
    color: #958fa2;    

}
.te__header .icon__button:hover {
    color:  #ff9b00;    

}


.te__header .icon__button i {
    font-weight: bold;
}

.te__content__area {
    width: 100%;;
    height: 299px;
    border: none;
    box-shadow: rgba(108, 122, 148, 0.22) 1px 4px 9px;
    margin: 0px;
}

