.task__content {
    position: relative;
    
    
}


.task__content .task__method {
    display: none;
}



.task__content:hover  .task__method{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    background: #f1f1f1;
}


.edit {
    
    color: #8BC34A;
}


.tdelete {
    
    color: #ef7048;
}

.add {
    color: #4baaf5;
}


